{#{% extends 'base.html.twig' %}#}
{#{% block title %}Ogłoszenia.pl{% endblock %}#}

{#{% block body %}#}

{#    <a class="btn btn-primary" href="{{ url('announcement_new') }}" role="button">Dodaj ogłoszenie</a>#}

{#    <div>#}

{#        <table class="table">#}
{#            <thead class="thead-light">#}

{#            <tr>#}


{#                <th scope="col">Komentarz</th>#}
{#                <#}
{#            </tr>#}
{#            </thead>#}
{#            {% for item in comments%}#}
{#            <tr>#}

{#                <td>{{ item.CommentContent }}</td></a>#}
{#            </tr>#}

{#            <tbody>#}
{#            {% endfor %}#}
{#        </table>#}

{#    </div>#}
{#{% endblock %}#}

