{% extends 'base.html.twig' %}

{% block title %}Ogłoszenia.pl{% endblock %}

{% block body %}






    <style>
        .jumbotron {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .jumbotron {
            background: #F5F5F5;
            padding: 26px 66px;
        }
    </style>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Ogłoszenia.pl</h1>
        <p class="lead">Przeglądaj, twórz, dodawaj!</p>
        <hr class="my-4">
        <p>Witaj w miejscu gdzie znajdziesz ogłoszenia z wielu kategorii oraz dodasz swoje własne ogłoszenie!</p>
        <a class="btn btn-primary btn-lg" href="home/all" role="button">Przeglądaj ogłoszenia</a>
    </div>

    </body>
{% endblock %}
