{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.photo_view' }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.photo_view' }}</h1>
    {% if photo is defined and photo|length %}
        <div>
            <img src="{{ asset('uploads/photos/'~ photo.file.filename) }}">
        </div>
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.item_not_found'|trans
        } %}
    {% endif %}
{% endblock %}